@{
    ViewBag.Title = "xacnhandonhang";
}

<h2 style="text-align:center">Xác Nhận</h2>
<h3 align="center">Đơn Hàng Của Bạn Đã Được Xác Nhận</h3>
<h3 align="center">Cám ơn Bạn Đã Ủng Hộ </h3>
<p>@Html.Action("Index","Home")</p>