<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OlapApp.Properties.Settings.DWH_FahasaConnectionString"
            connectionString="Data Source=ASUS;Initial Catalog=DWH_Fahasa;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <add name="OlapApp.Properties.Settings.BS_FahasaConnectionString"
            connectionString="Data Source=ASUS;Initial Catalog=BS_Fahasa;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
        <add name="OlapApp.Properties.Settings.DWH_Fahasa1ConnectionString"
            connectionString="Data Source=ASUS;Initial Catalog=DWH_Fahasa1;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>